<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-segment value="places">
    <ion-segment-button value="places">
      <ion-label>Lieux</ion-label>
    </ion-segment-button>
    <ion-segment-button value="users">
      <ion-label>Agents</ion-label>
    </ion-segment-button>
    <ion-segment-button value="items">
      <ion-label>Equipements</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- swiper -->

  <!-- Places settings -->
  <div class="">
    <!-- Places stats -->
    <ion-row>
      <!-- Prefecture stats -->
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Préfectures</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-text color="primary">4</ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Sites stats -->
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Mes Sites</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-text color="primary">4</ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Sites map -->
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Carte des sites</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-text color="primary">4</ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-list lines="none">
      <ion-item button onclick="">
        <ion-label>Modifier le mot de passe</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Modifier le nom d'utilisateur</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Modifier le nom de l'organisation</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Modifier le logo de l'organisation</ion-label>
      </ion-item>
    </ion-list>
  </div>

  <!-- Users settings -->
  <div>
    <ion-list lines="none">
      <ion-item button onclick="">
        <ion-label>Modifier le mot de passe</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Modifier le nom d'utilisateur</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Modifier le nom de l'organisation</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Modifier le logo de l'organisation</ion-label>
      </ion-item>
    </ion-list>
  </div>

  <!-- Items settings -->
  <div>
    <ion-list lines="none">
      <ion-item button onclick="">
        <ion-label>Modifier le mot de passe</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Modifier le nom d'utilisateur</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Modifier le nom de l'organisation</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Modifier le logo de l'organisation</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
