<ion-header class="ion-no-border ion-text-center">
  <ion-toolbar color="secondary">
    <ion-title size="lg" color="primary">Togocom Terrain</ion-title>
  </ion-toolbar>
</ion-header>
<ion-tabs color="tertiary">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="folder"></ion-icon>
      <ion-label>Inventaires</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="sites">
      <ion-icon name="radio"></ion-icon>
      <ion-label>Sites</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="history">
      <ion-icon name="hourglass"></ion-icon>
      <ion-label>Historique</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon name="cog"></ion-icon>
      <ion-label>Règlages</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="users">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
